/* quelques règles générales pour améliorer la lisibilité de la page */


body {
	font-family: "Helvetica Neue", "Verdana", "Helvetica", "sans serif";
	font-weight: 200;
	margin: 0;
}

h1 {
	font-weight: 100;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

a {
	text-decoration: none;
}

code {
	font-size: 1.2em;
}

#global {
	width: 60%;
	margin: auto;
}

/* {
	box-sizing: border-box;
}*/